[submodule "elastic_iso_lib/external/ioLibs"]
	path = elastic_iso_lib/external/ioLibs
	url = http://cees-gitlab.stanford.edu/SEP-external/sep-iolibs
[submodule "elastic_iso_lib/external/pySolver"]
	path = elastic_iso_lib/external/pySolver
	url = http://cees-gitlab.stanford.edu/ettore88/python-solver.git
[submodule "elastic_iso_lib/external/pybind11"]
	path = elastic_iso_lib/external/pybind11
	url = https://github.com/pybind/pybind11.git
